    <% include ./partials/head.ejs %>
    <title>Index</title>
</head>
<body>
    
    <% include ./partials/navbar.ejs %>
    <div>
            <div class="jumbotron">
                    <h1 class="display-4">Welcome</h1>
                    <p class="lead">This is a simple Inventory management application.</p>
                    <hr class="my-4">
                    <p>With user management, you can add products, manage warehouse, manage products and users can make orders. </p>
                    
                  </div>
    </div>
    <% include ./partials/footer.ejs %>
</body>
</html>