<% include ./partials/head.ejs %>
<title>Index</title>
</head>
<body>
    
    <% include ./partials/navbar.ejs %>
    <div class="container" style="text-align:center; margin-top:100px">
        <h1>You are unauthorized to view this page</h1>
        <h4></h4>
    </div>
    <% include ./partials/footer.ejs %>
</body>
</html>